@font-face {
  font-family: "Myriad Pro Regular";
  src: url("../font/Myriad Pro Regular.ttf");
}

@font-face {
  font-family: 'Arial_Italic';
  src: url("../font/arial/ArialCE.ttf");
}

.custom-control.custom-switch {
  padding-left: 0;
}

.slick-slider :focus {
  outline: 0;
}

.slick-slider .slick-dots {
  bottom: 20px;
}

.slick-slider .slick-dots li {
  margin: 0;
}

.slick-slider .slick-dots li.slick-active button::before {
  color: #3fb871;
}

.slick-slider .slick-dots li button:before {
  opacity: 1;
  font-size: 10px;
  color: #e1e1e1;
}

.slider {
  position: relative;
}

.slider .caption {
  position: absolute;
  top: 10%;
  width: 100%;
}

.slider .caption h1 {
  font-size: 66px;
  color: #ffffff;
  font-family: "Roboto Slab", "Bold", sans-serif;
}

.slider .caption h2 {
  font-size: 80px;
  color: #ffffff;
  font-family: "Myriad Pro Regular";
}

.slider .caption p {
  font-size: 18px;
  color: #ffffff;
  font-family: 'Arial_Italic';
  font-style: italic;
}

.product__hot h2.title, .product__buyhot-promotion h2.title, .product__new h2.title, .product__news h2.title {
  border-bottom: #e1e1e1 1px solid;
  font-family: "Roboto Slab", serif;
  line-height: 17px;
  margin: 0;
  padding: 10px 0 18px;
  position: relative;
}

.product__hot h2.title a, .product__buyhot-promotion h2.title a, .product__new h2.title a, .product__news h2.title a {
  color: #3fb871;
  padding-bottom: 15px;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 3px solid #3fb871;
  font-weight: bold;
}

.product__hot h2.title a:hover, .product__buyhot-promotion h2.title a:hover, .product__new h2.title a:hover, .product__news h2.title a:hover {
  color: #3fb871;
}

.product {
  border: 1px solid #e1e1e1;
}

.product .product-overlay {
  position: relative;
}

.product .product-overlay img {
  display: block;
  width: 100%;
  height: auto;
}

.product .product-overlay .saleleft1 {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
}

.product .product-overlay .saleleft1 span {
  position: absolute;
  left: 20px;
  top: 20px;
  text-align: center;
  background-color: #3fb871;
  color: #ffffff;
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  z-index: 22;
  font-size: 1em;
}

.product .product-overlay .saleleft2 {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
}

.product .product-overlay .saleleft2 span {
  position: absolute;
  left: 20px;
  top: 20px;
  text-align: center;
  background-color: #ed1c24;
  color: #ffffff;
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  z-index: 22;
  font-size: 1em;
}

.product .product-overlay .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: #898989;
}

.product .product-overlay .text {
  color: #e1e1e1;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.product .product-overlay .text ul.btn-overlay li {
  display: inline-block;
  list-style: none;
  padding-right: 5px;
}

.product .product-overlay .text ul.btn-overlay li a {
  padding: 5px 10px;
  font-size: 13px;
  font-family: "Arial", "Regular", sans-serif;
  cursor: pointer;
}

.product .product-overlay .text ul.btn-overlay li a.add-cart {
  background-color: #3fb871;
  color: #e1e1e1;
  border-radius: 20px;
}

.product .product-overlay .text ul.btn-overlay li a.add-cart:hover {
  background-color: #e1e1e1;
  color: #3fb871;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}

.product .product-overlay .text ul.btn-overlay li a.search {
  background-color: #e1e1e1;
  color: #363533;
  border-radius: 20px;
}

.product .product-overlay .text ul.btn-overlay li a.search:hover {
  background-color: #3fb871;
  color: #e1e1e1;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}

.product:hover .product-overlay .overlay {
  opacity: 0.9;
}

.product .product-content {
  text-align: center;
  padding: 13px 0;
}

.product .product-content .title {
  font-size: 16px;
  font-weight: 400;
  font-family: "Arial", "Regular", sans-serif;
}

.product .product-content .title a {
  color: #555555;
}

.product .product-content .price {
  color: #ed1c24;
  font-weight: 600;
  font-size: 18px;
  font-family: "Roboto Slab", serif;
}

.product .product-content .price .price-sale {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  text-decoration: line-through;
  color: #959595;
  padding-left: 5px;
}

.rating li.checked {
  color: #febf01;
}

.rating li.checked-notfound {
  color: #e1e1e1;
}

ul.rating {
  padding-left: 0;
}

.product__buyhot-promotion {
  position: relative;
}

.product__buyhot-promotion ul li.fa.fa-star {
  padding: 0;
  border: none;
}

.product__buyhot-promotion .images img {
  width: 80px;
  height: 80px;
}

.product__buyhot-promotion ul.list-item {
  margin: 30px 0;
}

.product__buyhot-promotion ul.list-item li {
  list-style: none;
  padding: 17px;
  border: 1px solid #e1e1e1;
}

.product__buyhot-promotion .product-content_side {
  padding: 0 8px;
}

.product__buyhot-promotion .product-content_side .title {
  font-size: 14px;
  font-weight: 400;
  font-family: "Arial", "Regular", sans-serif;
}

.product__buyhot-promotion .product-content_side .title a {
  font-size: 14px;
  color: #555555;
}

.product__buyhot-promotion .product-content_side ul.rating {
  font-size: 12px;
}

.product__buyhot-promotion .product-content_side .price {
  color: #ed1c24;
  font-weight: 600;
  font-size: 14px;
  font-family: "Roboto Slab", serif;
}

.product__buyhot-promotion .product-content_side .price .price-sale {
  text-decoration: line-through;
  color: #959595;
  padding-left: 5px;
}

.product__buyhot-promotion .btn_slide-prev-next {
  position: absolute;
  right: 20px;
  top: 0;
}

.product__buyhot-promotion .btn_slide-prev-next .button {
  border-radius: 50%;
  margin: 2px;
  border: 1px solid #838383;
  background-color: #ffffff;
}

.product__buyhot-promotion .btn_slide-prev-next .button:focus {
  outline: 0;
  background-color: #3fb871;
}

.product__buyhot-promotion .btn_slide-prev-next .button:focus i {
  color: #ffffff;
}

.product__buyhot-promotion .btn_slide-prev-next .button:hover {
  background-color: #3fb871;
}

.product__buyhot-promotion .btn_slide-prev-next .button:hover i {
  color: #ffffff;
}

.product__buyhot-promotion i {
  font-size: 10px;
  padding: 0px 9px 7px 8px;
  color: #838383;
}

.product__banner img {
  width: 100%;
}

.product__new {
  margin: 20px 0;
  position: relative;
}

.product__new .btn_slide-prev-next {
  position: absolute;
  right: 13%;
  top: 0;
}

.product__new .btn_slide-prev-next .button {
  border-radius: 50%;
  margin: 2px;
  border: 1px solid #838383;
  background-color: #ffffff;
}

.product__new .btn_slide-prev-next .button:focus {
  outline: 0;
  background-color: #3fb871;
}

.product__new .btn_slide-prev-next .button:focus i {
  color: #ffffff;
}

.product__new .btn_slide-prev-next .button:hover {
  background-color: #3fb871;
}

.product__new .btn_slide-prev-next .button:hover i {
  color: #ffffff;
}

.product__new .btn_slide-prev-next i {
  font-size: 10px;
  padding: 0px 9px 7px 8px;
  color: #838383;
}

.product__news .list-news img {
  width: 100%;
}

.product__news .list-news ul.note {
  padding-left: 0;
}

.product__news .list-news ul.note li {
  list-style: none;
  margin: 10px 0 10px;
}

.product__news .list-news ul.note li span {
  padding: 3px 0 3px;
  font-size: 12px;
  font-family: "Roboto", "Regular" sans-serif;
  font-style: italic;
  color: #959595;
}

.product__news .list-news ul.note li h3 {
  font-size: 14px;
  font-family: "Roboto Slab", "Bold", sans-serif;
  font-weight: bold;
  color: #59b586;
}

.product__news .list-news ul.note li p {
  font-size: 13px;
  font-family: "Roboto", "Regular" sans-serif;
  color: #898989;
}

.product__news .list-news ul.note li a {
  text-decoration: none;
  font-size: 12px;
  font-family: "Roboto", "Regular" sans-serif;
  font-style: italic;
  color: #59b586;
}

a {
  text-decoration: none;
}

.product__giohang {
  padding: 15px;
}

.product__giohang .title h3 {
  font-size: 13px;
  color: #555555;
  font-family: "Arial", "Regular", sans-serif;
}

.product__giohang .title h3 span {
  color: #3fb871;
}

.product__giohang .name {
  padding: 30px 0 30px;
}

.product__giohang .name h2 {
  font-size: 18px;
  font-family: "Arial", "Regular", sans-serif;
  font-weight: bold;
  color: #3fb871;
}

.product__giohang .table.table-bordered th {
  color: #ffffff;
  background-color: #3fb871;
  text-align: center;
  font-size: 14px;
  font-family: "Arial", "Regular", sans-serif;
}

.product__giohang .table.table-bordered tr {
  text-align: center;
}

.product__giohang .table.table-bordered img {
  width: 120px;
  height: 120px;
}

.product__giohang .btn-chose {
  text-align: right;
  padding: 50px 0 50px;
}

.product__giohang .btn-chose button.active {
  border-color: #3fb871;
  border-radius: 30px;
  font-size: 14px;
  padding: 10px 54px 10px;
  background-color: #3fb871;
}

.product__giohang .btn-chose button.active a {
  font-size: 12px;
  font-family: "Arial", "Regular", sans-serif;
  color: #ffffff;
}

.product__giohang .btn-chose button.cancel {
  border-color: #3fb871;
  border-radius: 30px;
  font-size: 14px;
  padding: 10px 54px 10px;
  background-color: #ffffff;
  margin-right: 10px;
}

.product__giohang .btn-chose button.cancel a {
  font-size: 12px;
  font-family: "Arial", "Regular", sans-serif;
  color: #3fb871;
}

.product__giohang .btn-chose button.cancel:hover {
  border-color: #3fb871;
  background-color: #3fb871;
}

.product__giohang .btn-chose button.cancel:hover a {
  color: #ffffff;
}

.product__giohang .table.table-bordered.tong th.th1, .product__giohang .table.table-bordered.tong th.th2 {
  color: #3fb871;
  background-color: #ffffff;
  text-align: center;
}

.product__giohang .table.table-bordered.tong tr.tr3 {
  color: #ffffff;
  background-color: #3fb871;
  text-align: center;
  font-size: 14px;
  font-family: "Arial", "Regular", sans-serif;
}
/*# sourceMappingURL=body.css.map */