//font-size
$font-10: 10px;
$font-12: 12px;
$font-14: 14px;
$font-13: 13px;
$font-16: 16px;
$font-18: 18px;
$font-caption: 66px;
$font-caption2: 80px;
//color
$color-white: #ffffff;
$color-green: #3fb871;
$color-green-title: #59b586;
$color-gray-white: #e1e1e1;
$color-black: #000000;
$color-red: #ed1c24;
$color-product: #555555;
$color-gray: #898989;
$color-sale: #959595; 
$color-new: #59b586;
$color-search: #363533;
$color-rating: #febf01;
//font-family
$font-arial: 'Arial', 'Regular', sans-serif;
$font-arial-bold: 'Arial', 'Bold', sans-serif;
$font-regular: 'Sansation_Regular', sans-serif;
$font-roboto: 'Roboto', 'Regular' sans-serif;
$font-roboto-bold: 'Roboto Slab', 'Bold', sans-serif;
$font-awesome: 'FontAwesome', sans-serif;
$font-roboto-slab: 'Roboto Slab', serif;

@font-face {
  font-family: "Myriad Pro Regular";
  src: url('../font/Myriad Pro Regular.ttf');
}
@font-face {
  font-family: 'Arial_Italic';
  src: url('../font/arial/ArialCE.ttf');
}
.custom-control.custom-switch {
    padding-left: 0;
}
.slick-slider {
  :focus {
    outline: 0;
  }
  .slick-dots {
    bottom: 20px;
    li {
      margin: 0;
      &.slick-active {
        button {
          &::before {
            color: $color-green;
          }
        }
      }
      button {
        &:before {
          opacity: 1;
          font-size: 10px;
          color: $color-gray-white;
        }
      }
    }
  }
}

.slider {
    position: relative;
    .caption {
        position: absolute;
        top: 10%;
        width: 100%;
        h1 {
            font-size: $font-caption;
            color: $color-white;
            font-family: $font-roboto-bold;
        }
        h2 {
            font-size: $font-caption2;
            color: $color-white;
            font-family: "Myriad Pro Regular";
        }
        p {
            font-size: $font-18;
            color: $color-white;
            font-family: 'Arial_Italic';
            font-style: italic;
        }
    }
}
.product__hot,.product__buyhot-promotion,.product__new,.product__news {
    
    h2.title {
        border-bottom: $color-gray-white 1px solid;
        font-family: $font-roboto-slab;
        line-height: 17px;
        margin: 0;
        padding: 10px 0 18px;
        position: relative;
        a {
            color: $color-green;
            padding-bottom: 15px;
            text-decoration: none;
            font-size: $font-16;
            border-bottom: 3px solid $color-green;
            font-weight: bold;
            &:hover {
              color: $color-green;
            }
        }
    }
}
.product {
  border: 1px solid $color-gray-white;
  .product-overlay {
    position: relative;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
    .saleleft1 {
        position: absolute;
        z-index: 9;
        top: 0;
        left: 0;
        span {
          position: absolute;
          left: 20px;
          top: 20px;
          text-align: center;
          background-color: $color-green;
          color: $color-white;
          display: block;
          width: 60px;
          height: 60px;
          line-height: 60px;
          border-radius: 50%;
          z-index: 22;
          font-size: 1em;
        }
    }
    .saleleft2 {
      position: absolute;
      z-index: 9;
      top: 0;
      left: 0;
          span {
            position: absolute;
            left: 20px;
            top: 20px;
            text-align: center;
            background-color: $color-red;
            color: $color-white;
            display: block;
            width: 60px;
            height: 60px;
            line-height: 60px;
            border-radius: 50%;
            z-index: 22;
            font-size: 1em;
          }
    }
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.5s ease;
      background-color: #898989;
    }
    .text {
      color: $color-gray-white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      ul.btn-overlay {
        li {
          display: inline-block;
          list-style: none;
          padding-right: 5px;
          a {
            padding: 5px 10px;
            font-size: $font-13;
            font-family: $font-arial;
            cursor: pointer;
            &.add-cart {
              background-color: $color-green;
              color: $color-gray-white;
              border-radius: 20px;
              &:hover {
                background-color: $color-gray-white;
                color: $color-green;
                transition: all, 0.5s;
              }
            }
            &.search {
              background-color: $color-gray-white;
              color: $color-search;
              border-radius: 20px;
              &:hover {
                background-color: $color-green;
                color: $color-gray-white;
                transition: all, 0.5s;
              }
            }
          }
        }
      }
    }
  }
  &:hover {
    .product-overlay .overlay {
      opacity: 0.9;
    }
  }
  .product-content {
    text-align: center;
    padding: 13px 0;
    .title {
      font-size: $font-16;
      font-weight: 400;
      font-family: $font-arial;
      a {
        color: $color-product;
      }
    }
    .price {
      color: $color-red;
      font-weight: 600;
      font-size: $font-18;
      font-family: $font-roboto-slab;
      .price-sale {
        font-family: $font-roboto-slab;
        font-size: $font-14;
        text-decoration: line-through;
        color: $color-sale;
        padding-left: 5px;
      }
    }
  }
}
.rating {
  li.checked {
    color: $color-rating;
  }
  li.checked-notfound {
    color: #e1e1e1;
  }
}
ul.rating {
  padding-left: 0;
}
.product__buyhot-promotion {
  position: relative;
  ul {
    li.fa.fa-star {
      padding: 0;
      border: none;
    }
  }
  .images img {
    width: 80px;
    height: 80px;
  }
  ul.list-item {
  margin: 30px 0;
  li {
    list-style: none;
    padding: 17px;
    border: 1px solid $color-gray-white;
  }
}

  .product-content_side {
      padding: 0 8px;
      .title {
        font-size: $font-14;
        font-weight: 400;
        font-family: $font-arial;
        a {
          font-size: $font-14;
          color: $color-product;
        }
      }
      ul.rating {
        font-size: $font-12;
      }
      .price {
        color: $color-red;
        font-weight: 600;
        font-size: $font-14;
        font-family: $font-roboto-slab;
        .price-sale {
          text-decoration: line-through;
          color: $color-sale;
          padding-left: 5px;
        }
      }
  }
  .btn_slide-prev-next {
    position: absolute;
      right: 20px;
      top: 0;
      .button {
        border-radius: 50%;
        margin: 2px;
        border: 1px solid #838383;
        background-color: $color-white;
        &:focus {
          outline: 0;
          background-color: $color-green;
          i {
            color: $color-white;
          }
          
        }
        &:hover {
          i {
            color: $color-white;
          }
          background-color: $color-green;
        }
      }
  }
    i {
      font-size: 10px;
      padding: 0px 9px 7px 8px;
      color: #838383;
    }
  
}
.product__banner {
  img {
    width: 100%;
  }
}
.product__new {
  margin: 20px 0;
  position: relative;
  .btn_slide-prev-next {
    position: absolute;
    right: 13%;
    top: 0;
    .button {
      border-radius: 50%;
      margin: 2px;
      border: 1px solid #838383;
      background-color: $color-white;
      &:focus {
        outline: 0;
        background-color: $color-green;
        i {
          color: $color-white;
        }
      }
      &:hover {
        i {
          color: $color-white;
        }
        background-color: $color-green;
      }

    }
    i {
        font-size: 10px;
        padding: 0px 9px 7px 8px;
        color: #838383;
    }
  }
}
.product__news {
  .list-news {
    img {
      width: 100%;
    }
    ul.note {
      padding-left: 0;
      li {
        list-style: none;
        margin: 10px 0 10px;
        span {
          padding: 3px 0 3px;
          font-size: $font-12;
          font-family: $font-roboto;
          font-style: italic;
          color: $color-sale;
        }
        h3 {
          font-size: $font-14;
          font-family: $font-roboto-bold;
          font-weight: bold;
          color: $color-green-title;
        }
        p {
          font-size: $font-13;
          font-family: $font-roboto;
          color: $color-gray;
        }
        a {
          text-decoration: none;
          font-size: $font-12;
          font-family: $font-roboto;
          font-style: italic;
          color: $color-green-title;
        }
      }
    }
  }
}
a {
  text-decoration: none;
}
.product__giohang {
  padding: 15px;
  .title {
      h3 {
      font-size: $font-13;
      color: $color-product;
      font-family: $font-arial;
      span {
        color: $color-green;
      }
      }
  }
  .name {
    padding: 30px 0 30px;
    h2 {
      font-size: $font-18;
      font-family: $font-arial;
      font-weight: bold;
      color: $color-green;
    }
  }
  .table.table-bordered {
    th {
      color: $color-white;
      background-color: $color-green;
      text-align: center;
      font-size: $font-14;
      font-family: $font-arial;
    }
    tr {
      text-align: center;
    }
      img {
        width: 120px;
        height: 120px;
      }
    
  }
  .btn-chose {
    text-align: right;
    padding: 50px 0 50px;
    button.active {
      border-color: $color-green;
      border-radius: 30px;
      font-size: 14px;
      padding: 10px 54px 10px;
      background-color: $color-green;
      a {
        font-size: $font-12;
        font-family: $font-arial;
        color: $color-white;
      }
    }
    button.cancel {
      border-color: $color-green;
      border-radius: 30px;
      font-size: 14px;
      padding: 10px 54px 10px;
      background-color: $color-white;
      margin-right: 10px;
      a {
        font-size: $font-12;
        font-family: $font-arial;
        color: $color-green;
      }
      &:hover {
        border-color: $color-green;
        background-color: $color-green;
        a {
          color: $color-white;
        }
      }
    }
  }
  .table.table-bordered.tong {
    th.th1,th.th2 {
      color: $color-green;
      background-color: $color-white;
      text-align: center;
    }
    tr.tr3 {
      color: $color-white;
      background-color: $color-green;
      text-align: center;
      font-size: $font-14;
      font-family: $font-arial;
    }
}


}