@font-face {
  font-family: "Open-Sans";
  src: url("../font/OpenSans-Regular.ttf");
}

.header__top {
  background-color: #202020;
  color: #898989;
  font-size: 12px;
}

.header span {
  padding-right: 10px;
  font-family: "Arial", "Regular", sans-serif;
}

.header ul.list-icon {
  display: inline-block;
  margin-bottom: 0;
}

.header ul.list-icon li {
  display: inline-block;
  list-style: none;
  padding: 8px 10px;
  border-right: 1px solid #2b2b2b;
}

.header ul.list-icon li:first-child {
  border-left: 1px solid #2b2b2b;
}

.header .info-log {
  text-align: right;
}

.header ul.login-user {
  display: inline-block;
  margin-bottom: 0;
}

.header ul.login-user li {
  display: inline-block;
  list-style: none;
  padding: 8px 10px;
  border-right: 1px solid #2b2b2b;
}

.header ul.login-user li:first-child {
  border-left: 1px solid #2b2b2b;
}

.header__second {
  background-image: url("../img/bg-header.png");
  background-size: 100% 100%;
  background-position: center;
}

.header__second .search {
  margin: auto 0;
}

.header__second .search .phone a {
  color: #7d7d7d;
  font-size: 14px;
  font-family: "Open-Sans";
}

.header__second .search .phone a:hover {
  color: #7d7d7d;
}

.header__second .search input.form-control {
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 1.25em;
  border-color: #ffffff;
}

.header__second .search input::-webkit-input-placeholder {
  color: #c2c2c2;
  font-size: 14px;
  font-family: "Roboto", "Regular" sans-serif;
}

.header__second .search input:-ms-input-placeholder {
  color: #c2c2c2;
  font-size: 14px;
  font-family: "Roboto", "Regular" sans-serif;
}

.header__second .search input::-ms-input-placeholder {
  color: #c2c2c2;
  font-size: 14px;
  font-family: "Roboto", "Regular" sans-serif;
}

.header__second .search input::placeholder {
  color: #c2c2c2;
  font-size: 14px;
  font-family: "Roboto", "Regular" sans-serif;
}

.header__second .search button.btn-search-posi {
  color: #7d7d7d;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-top-right-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  border-left: 1px solid #898989;
}

.header__second .cart {
  margin-top: 85px;
  text-align: center;
}

.header__second .cart Link {
  text-decoration: none;
}

.header__second .cart span {
  color: #202020;
  font-family: "Arial", "Regular", sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.header__second .cart span i {
  font-size: 20px;
}

.header__bottom {
  background-color: #3fb871;
}

.header__bottom .navbar {
  padding: 0;
}

.header__bottom .navbar-nav.active > a.nav-link {
  color: #ffffff;
}

.header__bottom .dropdown:hover > .dropdown-menu {
  display: block;
}

.header__bottom .dropdown > .dropdown-toggle:active {
  pointer-events: none;
}

.header__bottom ul li.dropdown a {
  margin-left: 10px;
}

.header__bottom ul li.nav-item {
  padding: 13px 20px 13px;
}

.header__bottom ul li.nav-item.active {
  background-color: #36a66d;
}

.header__bottom ul li.nav-item a.nav-link {
  color: #ffffff;
  font-size: 14px;
  font-family: "Arial", "Regular", sans-serif;
}

.header__bottom ul li.nav-item:hover {
  background-color: #36a66d;
}

.header__bottom ul li.nav-item:hover a.nav-link {
  color: #ffffff;
}

.header__bottom ul li.nav-item .dropdown-menu {
  padding: 5px 0px 5px;
}

.header__bottom ul li.nav-item .dropdown-menu:hover a.dropdown-item {
  background-color: #36a66d;
}

.header__bottom ul.icon-child {
  display: none;
}

.header__bottom ul.icon-child li {
  list-style: none;
  color: #ffffff;
  display: inline-block;
  padding: 0 10px;
}

.footer {
  background-color: #202020;
  color: #898989;
}

.footer__top {
  padding: 40px 0;
  border-bottom: 1px solid;
}

.footer__top p {
  color: #898989;
  font-size: 14px;
  font-family: "Arial", "Bold", sans-serif;
  margin-bottom: auto;
}

.footer__top ul.connect {
  margin-left: -40px;
}

.footer__top ul.connect li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}

.footer__top .input-group .form-control {
  border-radius: 0 !important;
  border-top-right-radius: none;
  border-bottom-right-radius: none;
}

.footer__top .input-group .input-group-prepend .btn-send {
  background-color: #59b586;
}

.footer__top .input-group .input-group-prepend .btn-send i {
  color: #ffffff;
}

.footer__second ul {
  margin-left: -39px;
}

.footer__second ul.logo li {
  list-style: none;
}

.footer__second ul.logo a {
  color: #b7b7b7;
  font-size: 12px;
  font-family: "Arial", "Regular", sans-serif;
}

.footer__second ul.logo a i {
  color: #3fb871;
  font-size: 18px;
}

.footer__second h5 {
  font-size: 14px;
  font-family: "Arial", "Bold", sans-serif;
  color: #59b586;
}

.footer__second ul > li {
  list-style: none;
  padding: 5px 0;
}

.footer__second ul > li > a {
  font-size: 12px;
  color: #b7b7b7;
}

.footer__bottom {
  padding: 34px 0 34px;
  border-top: 1px solid;
}

.footer__bottom ul.listmenu {
  margin-bottom: 0;
  line-height: 25px;
}

.footer__bottom ul.list-menu > li {
  line-height: 20px;
  margin-right: 10px;
  display: inline-block;
}

.footer__bottom ul.list-menu > li a {
  font-size: 12px;
  font-family: "Arial", "Regular", sans-serif;
}

.footer__bottom .payment_img {
  width: 100%;
  float: left;
  text-align: right;
}

.footer .copyright {
  background-color: #434343;
  padding: 18px 0 18px;
  text-align: center;
}

.footer .copyright ul.name-design {
  margin-bottom: 0;
}

.footer .copyright ul.name-design > a {
  color: #ffffff;
}
/*# sourceMappingURL=layout.css.map */