//color
$color-1: #898989;
$color-2: #2b2b2b;
$color-3: #c2c2c2;
$color-4: #7d7d7d;
$color-5: #202020;
$color-6: #ffffff;
$color-7: #3fb871;
$color-8: #36a66d;
$color-9: #59b586;
$color-10: #b7b7b7;
$color-11: #434343;
//font-size
$font-10: 10px;
$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
//font-family
$font-arial: 'Arial', 'Regular', sans-serif;
$font-arial-bold: 'Arial', 'Bold', sans-serif;
$font-regular: 'Sansation_Regular', sans-serif;
$font-bold: 'Sansation_Bold', sans-serif;
$font-light: 'Sansation_Light', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-roboto: 'Roboto', 'Regular' sans-serif;
$font-awesome: 'FontAwesome', sans-serif;
$font-mistral: 'Mistral', sans-serif;
//font weight
$font-100: 100px;
$font-200: 200px;
$font-400: 400px;
@font-face {
  font-family: "Open-Sans";
  src: url('../font/OpenSans-Regular.ttf');
}

.header{
    &__top {
        background-color: $color-5;
        color: $color-1;
        font-size: 12px;
    }
    span {
        padding-right: 10px ;
        font-family: $font-arial;
    }
    ul.list-icon {
        display: inline-block;
        margin-bottom: 0;
        li {
            display: inline-block;
            list-style: none;
            padding: 8px 10px;
            border-right: 1px solid $color-2;
            &:first-child {
                border-left: 1px solid $color-2;
            }
        }
    }
    .info-log {
        text-align: right;
    }
    ul.login-user {
        display: inline-block;
        margin-bottom: 0;
        li {
            display: inline-block;
            list-style: none;
            padding: 8px 10px;
            border-right: 1px solid $color-2;
            &:first-child {
                border-left: 1px solid $color-2;
            }
        }

    }
    &__second {
        background-image: url('../img/bg-header.png');
        background-size: 100% 100%;
        background-position: center;
        .search {
            margin: auto 0;
            .phone a {
                color: $color-4;
                font-size: $font-14;
                font-family: "Open-Sans";
                &:hover {
                    color: $color-4;
                }
            }
            input {
                &.form-control {
                    border-top-left-radius: 1.25rem;
                    border-bottom-left-radius: 1.25em;
                    border-color: $color-6;
                }
                &::placeholder {
                    color: $color-3;
                    font-size: $font-14;
                    font-family: $font-roboto;
                }
                  
            }
            button.btn-search-posi {
                color: $color-4;
                border: 1px solid $color-6;
                background-color: $color-6;
                border-top-right-radius: 1.25rem;
                border-bottom-right-radius: 1.25rem;
                border-left: 1px solid $color-1;
            }
        }
        .cart {
            margin-top: 85px;
            text-align: center;
            Link {
                text-decoration: none;
            }
            span {
                i {
                    font-size: $font-20;
                }
                color: $color-5;
                font-family: $font-arial;
                font-size: $font-15;
                cursor: pointer;
            }
        }
    }
    &__bottom {
        background-color: $color-7;
        .navbar {
            padding: 0;
        }
        .navbar-nav.active>a.nav-link {
            color: $color-6;
        }
        .dropdown:hover>.dropdown-menu {
            display: block;
        }
        .dropdown>.dropdown-toggle:active {
            pointer-events: none;
        }
        ul {
            li.dropdown {
                a {
                    margin-left: 10px;
                    }

            }
            li.nav-item {
                padding: 13px 20px 13px;
                
                &.active {
                    background-color: $color-8;
                }
                a.nav-link {
                    color: $color-6;
                    font-size: $font-14;
                    font-family: $font-arial;
                }
                &:hover {
                    a.nav-link{
                        color: $color-6;
                    }
                    background-color: $color-8;
                }
                .dropdown-menu {
                    padding: 5px 0px 5px;
                    &:hover {
                        a.dropdown-item {
                            background-color: $color-8;
                        }
                    }
                }
            }
        }
        ul.icon-child {
            display: none;
            li {
                list-style: none;
                color: $color-6;
                display: inline-block;
                padding: 0 10px;
            }
        }
    }
}
.footer {
    background-color: $color-5;
    color: $color-1;
    &__top {
        padding: 40px 0;
        border-bottom: 1px solid ;
        p {
            color: $color-1;
            font-size: $font-14;
            font-family: $font-arial-bold;
            margin-bottom: auto;
        }
        ul.connect {
            margin-left: -40px;
            li {
                list-style: none;
                display: inline-block;
                padding: 0 10px;
            }
        }
        .input-group {
            .form-control {
                border-radius: 0 !important;
                border-top-right-radius: none;
                border-bottom-right-radius: none;
            }
            .input-group-prepend {
                .btn-send {
                    background-color: $color-9;
                    i {
                        color: $color-6;
                    }
                }
            }
        }
    }
    &__second {
        ul {
            margin-left: -39px;
        }
        ul.logo {
            li {
                list-style: none;
            }
            a {
                color: $color-10;
                font-size: $font-12;
                font-family: $font-arial;
                i {
                    color: $color-7;
                    font-size: $font-18;
                }
            }
        }
        h5 {
            font-size: $font-14;
            font-family: $font-arial-bold;
            color: $color-9;
        }
        ul>li {
            list-style: none;
            padding: 5px 0;
        }
        ul>li>a {
            font-size: $font-12;
            color: $color-10;
        }
    }
    &__bottom {
        padding: 34px 0 34px;
        border-top: 1px solid;

        ul.listmenu {
            margin-bottom: 0;
            line-height: 25px;
        }
        ul.list-menu>li {
            line-height: 20px;
            margin-right: 10px;
            display: inline-block;
            a {
                font-size: $font-12;
                font-family: $font-arial;
                // color: $color-6;
            }
        }
        .payment_img {
            width: 100%;
            float: left;
            text-align: right;
        }
        
    }
    .copyright {
        background-color: $color-11;
        padding: 18px 0 18px;
        text-align: center;
        ul.name-design {
            margin-bottom: 0;
        }
        ul.name-design > a {
            color: $color-6;
        }
        }

}